.PawnStyle{
    height: 72px;
    margin: auto;
    background-color:lightblue;
    text-align: center;
    font-size: 44px;
    color: black;
    border:outset;
    border-color:lightblue ;
}

.PawnStyleEnable:hover{
    background-color:lightgreen;
}

.PawnStyleDisable:hover{
    background-color:lightcoral;
    
}

.PawnStyleDisable{
}