.PawnStyle{
    height: 72px;
    margin: auto;
    background-color:lightgreen;
    text-align: center;
    font-size: 44px;
    color: white;
    
    border-style: outset;
    
}

.PawnStyle:hover{
    
    background-color:limegreen;
    
}