.PawnStyle{
    height: 72px;
    margin: auto;
    background-color:lightblue;
    text-align: center;
    font-size: 44px;
    color: black;
    border-style: outset;
}

.PawnStyle:hover{
    background-color:lightskyblue;
}