.Container{
    display: inline-flex;
    flex-flow: column;
    width: 100%;

}

button{
    margin-left: 35%;
    margin-top: 8px;
    width: 30%;
    height: 48px;
    background-color: lightblue;
    border-style: outset;

}
button:hover{
    background-color: lightskyblue;
}